{% extends 'aplicacion/base.html' %}
{% load static %}
{%block contenido%}
<div class="container">
    <br>
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="col-12 col-md-2 offset-md-5">
                        <p>Bicicleta: {{mantenciones.code}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p style="padding-left: 20%;">Dueño: {{mantenciones.duenio}} </p>
                        </div>
                        <div class="col-6">
                            <p>Tecnico: {{mantenciones.tecnico}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p style="padding-left: 20%;">Marca: {{mantenciones.marca}}</p>
                        </div>
                        <div class="col-6">
                            <p>Modelo: {{mantenciones.modelo}}</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 offset-md-1">
                        <p>¿Esta seguro que desea eliminar el registro de mantencion?</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input style="float: right;" type="submit" value="Eliminar" class="btn btn-danger">
                        </div>
                        <div class="col-6">
                            <a href={% url 'mantencion' %}><input type="button" value="Cancelar" class="btn btn-danger"></a> 
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock contenido%}